.aboutMe-container {
  height: 100vh;
  color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[15];
      grid-template-columns: repeat(15, 1fr);
  -ms-grid-rows: (1fr)[15];
      grid-template-rows: repeat(15, 1fr);
}

@-webkit-keyframes onHover {
  0% {
    font-size: 1.3;
  }
  60% {
    font-size: 1.3;
  }
}

@keyframes onHover {
  0% {
    font-size: 1.3;
  }
  60% {
    font-size: 1.3;
  }
}

.aboutMe-container .content {
  padding-top: 5%;
  -ms-grid-column: 9;
  -ms-grid-column-span: 6;
  grid-column: 9/15;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4/10;
  z-index: 1;
}

.aboutMe-container .content h1 {
  font-size: 4em;
  -webkit-animation: h1-animation 2.5s;
          animation: h1-animation 2.5s;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.aboutMe-container .content h1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes h1-animation {
  0% {
    width: 0ch;
  }
  15% {
    width: 4ch;
  }
  60% {
    width: 17ch;
  }
}

@keyframes h1-animation {
  0% {
    width: 0ch;
  }
  15% {
    width: 4ch;
  }
  60% {
    width: 17ch;
  }
}

.aboutMe-container .content h2 {
  font-size: 2.5em;
  color: #3a3a3a;
  -webkit-animation: h2-animation 1s;
          animation: h2-animation 1s;
  overflow: hidden;
  white-space: nowrap;
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.aboutMe-container .content h2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes h2-animation {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  30% {
    -webkit-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  40% {
    -webkit-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  90% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes h2-animation {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  30% {
    -webkit-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  40% {
    -webkit-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  90% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.aboutMe-container .content .paragraph-container {
  max-width: 50%;
  padding-top: 5%;
  font-size: 1.4em;
  -webkit-animation: paragraph 2s;
          animation: paragraph 2s;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.aboutMe-container .content .paragraph-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes paragraph {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  30% {
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes paragraph {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  30% {
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.aboutMe-container .content-body {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6/10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  grid-row: 3/9;
}

.aboutMe-container .me-img-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 4;
  -ms-grid-row-span: 9;
  grid-row: 4/13;
  position: relative;
  z-index: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.aboutMe-container .me-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#121212), to(#181818));
  background-image: linear-gradient(to bottom right, #121212, #181818);
  opacity: 0.5;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.aboutMe-container .me-img-container img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  border-radius: 5px;
  -webkit-transition: -webkit-filter 500ms;
  transition: -webkit-filter 500ms;
  transition: filter 500ms;
  transition: filter 500ms, -webkit-filter 500ms;
}

.aboutMe-container .me-img-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.aboutMe-container .me-img-container:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.aboutMe-container .signature-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
  -ms-grid-row: 8;
  -ms-grid-row-span: 5;
  grid-row: 8/13;
  padding-left: 3%;
  z-index: 2;
}

.aboutMe-container .signature-container .signature {
  max-width: 100%;
  height: auto;
}

.aboutMe-container .about-me-scroll {
  -ms-grid-column: 12;
  -ms-grid-column-span: 4;
  grid-column: 12/16;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMe-container .about-me-scroll h1 {
  font-size: 8em;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: whitesmoke;
  padding-left: 3%;
  padding-right: 3%;
}

.aboutMe-container .gradient-stripe {
  -ms-grid-column: 6;
  -ms-grid-column-span: 10;
  grid-column: 6/16;
  -ms-grid-row: 5;
  -ms-grid-row-span: 10;
  grid-row: 5/15;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#181818));
  background: linear-gradient(#121212, #181818);
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  border-radius: 10px;
  z-index: -1;
}
/*# sourceMappingURL=AboutMe.css.map */